<%= form_for(@chapter_status) do |f| %>
  <% if @chapter_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter_status.errors.count, "error") %> prohibited this chapter_status from being saved:</h2>

      <ul>
      <% @chapter_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :skip %><br>
    <%= f.check_box :skip %>
  </div>
  <div class="field">
    <%= f.label :course_enrollment_id %><br>
    <%= f.text_field :course_enrollment_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
