<div class="list-group">
    <div class="list-group-item chapter" data-node-id="<%= chapter.id %>">
      <div class="row" style="margin: 5px">
        <h4 class="list-group-item-heading">
          <span class="label label-default label-pill pull-right chapter">
            <%= chapter.shortname %>
          </span>
          <%= chapter.name %>
        </h4>
        <p class="list-group-item-text">
          <%= truncate(chapter.description, length: 80) %>
        </p>
      </div>
    </div>

<select multiple class="form-control">
  <% chapter.valid_predecessors.each do |pre| %>
    <option><%= pre.name %></option>
  <% end %>
  <p></p>
</select>
