
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          Editing Course
          <small><%= @course.name %></small>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <legend>Course Attributes</legend>
      <%= render 'form' %>
      <legend>Course Chapters</legend>
      <%= render partial: 'chapters', locals: {course: @course, chapters: @course.chapters} %>
      <%= link_to 'Back', instructor_courses_path, class: "btn btn-link" %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <legend>Course Structrue</legend>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'graph', locals: {type: "courses", data: @course} %>
        </div>
      </div>
    </div>
  </div>
</div>
