<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Your created Courses</h1>
    </div>
  </div>

  <div class="row">
    <div class="list-group">
      <% @courses.each do |course| %>
        <%= link_to instructor_course_path(course), class: "list-group-item" do %>
          <h4 class="list-group-item-heading">
            <%= course.name %>
            <%- if course.published %>
              <span class="label label-success" style="float: right"> Published </span>
            <%- else %>
              <span class="label label-warning" style="float: right"> Unpublished </span>
            <%- end %>
          </h4>
          <h6 class="list-group-item-heading">
            Created <%= time_ago_in_words(course.created_at) %> ago
          </h6>
          <p class="list-group-item-text">
            <%= course.description %>
            <%= course.get_number_of_enrollments %>
          </p>
        <%- end %>
      <%- end %>
    </div>
  </div>
   <%= link_to 'New Course', new_instructor_course_path, class: "btn btn-primary" %>
</div>
