<div class="container">
<h1>Listing Course Badges</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Badge</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @course_badges.each do |course_badge| %>
        <tr>
          <td><img src="<%= course_badge.badge %>"/></td>
          <td><%= course_badge.description %></td>
          <td>
            <div class="btn-group">
              <%= link_to 'Edit', edit_instructor_course_badge_path(course_badge), class: "btn btn-primary" %>
              <%= link_to 'Destroy', instructor_course_badge_path(course_badge), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Course badge', new_instructor_course_course_badge_path, class: "btn btn-primary" %>

</div>
