<%= form_for([:instructor, @chapter]) do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <div class="control-group">
    <div class="controls">
      <%= f.label :name, class: "control-label" %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.label :shortname, class: "control-label" %><br>
      <%= f.text_field :shortname, class: "form-control" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.label :description, class: "control-label" %><br>
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>
  <%= f.hidden_field :course_id %>

  <div class="form-actions">
    <%= f.submit class: "btn btn-default btn-primary btn-block btn-success" %>
  </div>
</fieldset>
<% end %>

