<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          Editing Chapter
          <small><%= @chapter.name %></small>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <legend>Chapter Attributes</legend>
      <%= render 'form' %>
      <legend>Chapter Activities</legend>
      <%= render partial: 'activities', locals: {activities: @chapter.activities} %>
      <div class="row">
        <div class="col-md-6">
          <%= link_to 'Show Course', instructor_course_path(@chapter.course), class: "btn btn-primary btn-block" %>
        </div>
        <div class="col-md-6">
          <%= link_to 'Back to Course', edit_instructor_course_path(@chapter.course), class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <legend>Chapter Structure</legend>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'graph', locals: {type: "chapters", data: @chapter} %>
        </div>
      </div>
    </div>
  </div>
</div>
