<h1>Graph</h1>
<div>Type: <%= type %></div>
<div>Name: <%= data.name %></div>
<div>Description: <%= data.description %></div>
<div id="cy"></div>
<script>loadGraph("<%= type %>", <%= data.id%>)</script>
