<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>
        <%= course.name %>
        <% enrollment = current_user.get_enrollment(course)%>
        <small>Started <%= time_ago_in_words(enrollment.created_at) %> ago</small>
      </h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= course.description%>
        </div>
      </div>
      <%= link_to curriculum_course_path, class: "btn btn-primary" do %>
        <i class="fa fa-tasks"></i>
        Show Curriculum
      <%- end %>
      <%= link_to "Leaderboard", leaderboard_path(course), class: "btn btn-primary" %>
      <%= link_to "Course Badges", course_course_badges_path(course), class: "btn btn-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="progress">
      <%- completion = (enrollment.progress[:percent]*100).to_i %>
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="min-width: 3em; width: <%= completion%>%">
        <%= completion%>% Complete
      </div>
    </div>
  </div>
   <div class="row">
    <%- @duell.each do |duell| %>
      <% if get_activity_status(duell) == false %>
    <h3> <strong><%= get_username(duell) =%></strong> has challenged you, go and click on this <strong><%= link_to "link", activity_path(get_activity(duell))%></strong> and destroy him! </h3>
     <% end %>
    <%- end %>
  </div>
  <div class="row">
    <h4>
      Recommended Activities
    </h4>
    <% if course.completed?(current_user) %>
    <div class='panel panel-success'>
      <div class='panel-body bg-success text-success'>
        Congratulations, you completed this course!
        <%= link_to 'Select Another Course', courses_path , class: "btn btn-primary pull-right"%><br />
      </div>
    </div>

    <% end %>
    <% recommended = enrollment.recommended_activities %>
    <% if recommended.empty? %>
      <div class='panel panel-warning'>
        <div class='panel-body bg-warning text-warning'>
          There are no activities left recommended for your current chapter and difficulty but you didn't finish the following activities:
        </div>
      </div>
      <% recommended = enrollment.recommend_unfinished %>
    <% end %>
    <div class="list-group">
      <%- recommended.each do |act| %>
<% if act.content.is_a?(ActivityDuell) %>
      <% if act.content.master == true %>
        <%= link_to activity_path(act), class: "list-group-item" do %>
        <h4 class="list-group-item-heading">
            <i class="fa <%= activity_icon(act) =%>"></i>
            <%= act.name %>
          </h4>
          <p class="list-group-item-text">
            From:
            <%= act.chapter.name %>
            <span class="badge"><%= act.levelpoints %></span>
          </p>
          <% end %>
        <%- end %>
      <% else %>
        <%= link_to activity_path(act), class: "list-group-item" do %>
          <h4 class="list-group-item-heading">
            <i class="fa <%= activity_icon(act) =%>">
            </i>
            <%= act.name %>
          </h4>
          <p class="list-group-item-text">
            From:
            <%= act.chapter.name %>
            <span class="badge"><%= act.levelpoints %></span>
          </p>
        <%- end %>
        <% end %>
      <%- end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h1>
          <i class="fa fa-1x fa-star"></i>
          Badges
        </h1>
      </div>
      <div class="page-body">
        <% course.course_badges.take(3).each do |badge| %>
          <div class="col-md-4">
          <img src="<%= badge.badge %>" title="<%= badge.description %>"/>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h1>
          <i class="fa fa-1x fa-bar-chart"></i>
          Statistics
        </h1>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">
            <%= @course.get_number_of_enrollments %>
          </span>
          Enrolled Users
        </li>
        <li class="list-group-item">
          <span class="badge">
            <%= @course.get_number_of_completed_enrollments %>
          </span>
          Users who finished this Course
        </li>
        <li class="list-group-item">
          <span class="badge">
            <%= @course.get_number_of_new_enrollments(30) %>
          </span>
          New Users in the last 30 days
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <div class="page-header">
        <h1>
          <i class="fa fa-1x fa-trophy"></i>
          Leaderboards
        </h1>
      </div>
      <div class="page-body">
        <table class="table table-hover">
        <thead>
          <tr>
            <th> Position </th>
            <th>User</th>
            <th>Levelpoints</th>
          </tr>

        </thead>

        <tbody>

          <% Merit::Score.top_scored_enrolled(limit: 5).each_with_index do |enrollment, i| %>
          <tr>
            <td>
              <%= (i+1) %>
            </td>
            <td>
              <%= link_to(enrollment[:enrollment].user) do %>
              <img src="http://vector.me/files/images/1/5/153253/male_user_icon_clip_art.jpg" class="img-circle" alt="Cinque Terre" width="46" height="38">

              <%= enrollment[:enrollment].user.username %>
              <% end %>
            </td>
            <td><%= enrollment[:points] %></td>

          </tr>

          <% end %>

        </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <%= render 'shared/feedback', commentable: course %>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        Comments
      </div>
      <div class="panel-body">
        <p>
          <%= link_to 'Add a new Comment', new_course_comment_path(course), class: 'btn btn-primary' %>
        </p>
        <%= comments_tree_for course.comments.hash_tree %>
      </div>
    </div>
  </div>
</div>
