<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>
        <%= @course.name %>
        <small>Started <%= time_ago_in_words(@enrollment.created_at) %> ago</small>
      </h1>
      <%= link_to course_path, class: "btn btn-primary" do %>
        <i class="fa fa-star"></i>
        Show Course Progress
      <%- end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <% chapters = @course.chapters.order("tier ASC") %>
        <%- chapters.each do |chapter| %>
          <% status = chapter.get_status(current_user) %>
          <% locked = status.finished || status.skip ? false : chapter.locked?(current_user) %>
          <%= link_to curriculum_course_path(@course, chapter: chapter.id),
                      class: ["list-group-item ", ("list-group-item-info" if chapter == @active_chapter),
                                                  ("disabled" if locked),
                                                  ("list-group-item-success" if status.finished || status.skip)] do %>
            <% if status.finished %>
              <i class="fa fa-3x fa-check" style="float: right"></i>
            <% end %>
            <div class="caption">
              <h3>
                <%= chapter.name %>
              </h3>
              <p>
                <%= chapter.description %>
              </p>
            </div>
          <%- end %>
          <br />
        <%- end %>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= @active_chapter.name %>
            </h3>
          </div>
          <div class="panel-body">
            <%= @active_chapter.description %>
          </div>
          <div class="progress" style="margin: 5px">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:  <%= @active_chapter.progress(@enrollment)[:percent].to_i %>%">
               <%= @active_chapter.progress(@enrollment)[:percent].to_i %>% Complete
            </div>
          </div>
        </div>
      </div>
      <div class="list-group">
        <% activities = @active_chapter.activities.order("tier ASC") %>
        <%- activities.each do |act| %>
          <% completed = current_user.completed?(act) %>
          <% successfull = current_user.completed_successfull?(act) %>
          <% locked = completed ? false : act.locked?(current_user) %>
          <%= link_to activity_path(act), class: ["list-group-item",
                                                  ("list-group-item-success" if completed && successfull),
                                                  ("disabled" if locked),
                                                  ("list-group-item-danger" if completed && !successfull)] do %>

            <% if completed && successfull%>
              <i class="fa fa-3x fa-check" style="float: right"></i>
            <% elsif completed && !successfull %>
              <i class="fa fa-3x fa-times" style="float: right"></i>
            <% end %>

            <h4 class="list-group-item-heading">
              <i class="fa fa-2x <%= activity_icon(act) %>"></i>
              <%= act.name %>
            </h4>
          <%- end %>
        <%- end %>
      </div>
    </div>
  </div>

</div>
