<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Listing Courses</h1>
        <!-- Only Instructos shall be aple to add new coures --> 
        <% if current_user.is_instructor? %>
            <%= link_to 'New Course', new_course_path, class: "btn btn-primary btn-lg" %>
        <% end -%>   
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-md-6">
        <div class="course jumbotron">
          <h1><%= course.name %></h1>
          <p><%= course.description %></p>


          <p><%= link_to 'See More', course, class: "btn btn-primary btn-lg" %>
           
            <!-- Show this button only for non-Instructors -->
            <% if !current_user.is_instructor? and user_signed_in? -%>
              
              <%= link_to "Take This Course", course_enrollments_path(:course_enrollment => {:user_id => current_user.id, :course_id => course.id , :is_visible => true, :is_visible_friends => true}), :method => :post, data: { confirm: 'Register for this course?' }, class: "btn btn-primary btn-lg" %>
            <% end -%>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
