<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Your Courses</h1>
    </div>
  </div>

  <div class="row">
    <div class="list-group">
      <% @enrollments.each do |enrollment| %>
        <%- course = enrollment.course %>
        <%= link_to course_path(course), class: ["list-group-item", ("list-group-item-success" if enrollment.completed)] do %>
          <% if enrollment.completed %>
            <i class="fa fa-3x fa-check-circle" style="float: right"></i>
          <% else %>
            <i class="fa fa-3x fa-spinner" style="float: right"></i>
           <% end %>
          <h4 class="list-group-item-heading">
            <%= course.name %>
          </h4>
          <h6 class="list-group-item-heading">
            Started <%= time_ago_in_words(enrollment.created_at) %> ago
          </h6>
          <p class="list-group-item-text">
          <label class="label label-info">Level <%= enrollment.level.level %></label>
          <label class="label label-primary"><%= enrollment.progress[:percent] %>% Complete</label>
            <label class="label label-success">14 Badges</label>
          </p>
        <%- end %>
      <%- end %>
    </div>
  </div>
</div>
