<%= form_for(@chapter) do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :shortname %><br>
    <%= f.text_field :shortname %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
      <%= f.label :tier %><br>
      <%= f.text_field :tier %>
 </div>
  <%= f.hidden_field :course_id, :value => params[:course_id], class: "form-control" %>

  <div class="field">
      <%= f.label :Predecessor %><br> 
      <%= collection_select(:course, :chapter_id, @ordered_chapters, :id, :name, prompt: true) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

