<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          Editing Chapter
          <small><%= @chapter.name %></small>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <legend>Chapter Attributes</legend>
      <%= render 'form' %>
      <legend>Chapter Activities</legend>
      <%= render partial: 'activities', locals: {activities: @chapter.activities} %>
      <%= link_to 'Back', chapters_path, class: "btn btn-link" %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <legend>Chapter Structrue</legend>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'graph/graph', locals: {type: "chapters", data: @chapter} %>
        </div>
      </div>
    </div>
  </div>
</div>
