<%= form_for @activity, url: complete_activity_path(@activity), method: :post do |form| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <% container.questionnaire.m_questions.each do |question| %>
        <div class= "row">
          <div class="col-md-12">
            <div class="well">
            <div class="form-group">
              <%= question.text %></p>
              <% question.answers.each do |answer| %>
                <label class="radio-inline">
                  <%= radio_button_tag question.id, answer.text %>
                  <%= answer.text %>
                </label>
              <% end %>
            </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= form.submit 'Finish this Excercise', class: "btn btn-success" %>
<% end %>
