<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h2>
          <i class="fa fa-1x <%= activity_icon(@activity) %>"></i>
          <%= @activity.name %>
        </h2>
        <p>
          From: <%= @activity.chapter.name %>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <%= link_to :back, title: 'Back to last Page' do %>
        <i class="arrows fa fa-3x fa-arrow-left"></i>
      <%- end %>
    </div>

    <div class="col-md-10">
      <div class="activity-content-container">
        <%= render 'completed_questionnaire', completed_questionnaire: get_last_completed(@activity.content.questionnaire), container: @activity.content %>
      </div>
      <%= render 'shared/feedback', commentable: @activity %>
      <% # render 'shared/comments', commentable: @activity %>
    </div>

    <div class="col-md-1">
      <%= link_to curriculum_course_path(@activity.course, chapter: @activity.chapter.id), title: 'Proceed to Curriculum' do %>
        <i class=" arrows fa fa-3x fa-arrow-up"></i>
      <%- end %>
    </div>
  </div>
</div>
