<div class="fields row">
  <div class="col-md-11 col-md-offset-1">
    <div class="row">
      <div class="col-md-9">
        <%= f.label :text, "Answer" %>
        <%= f.hidden_field :_destroy %>
        <%= button_tag "<i class='fa fa-x fa-trash'></i>".html_safe, onclick: "remove_fields(this);", class: "pull-right btn-link", type: 'button' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <%= f.text_field :text, class: "form-control" %>
      </div>
      <div class="col-md-3">
        <div class="checkbox">
          <label>
            <%= f.check_box :correct, class: "checkbox" %>correct
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
