<div class="well field">
  <div class="row">
    <div class="col-md-12">
  <%= f.label :text, "Question" %>
  <%= link_to "<i class='fa fa-x fa-trash'></i>".html_safe, '#', onclick: "remove_fields(this);", class: "pull-right" %>
  <%= f.text_area :text, rows: 3, class: "form-control" %><br \>
</div>
</div>

  <%= f.fields_for :answers do |answers_form| %>
    <%= render "answer_fields", f: answers_form %>
  <% end %>
  <%= f.hidden_field :_destroy %>
</div>
